<%- include('partials/top') %>
<div class="container justify-content-cente=">
    <h1>To Access Blogs Click Read More</h1>
        <div>
            <p>
                Welcome to the website. To read the blog's refer to the cards above. Otherwise, any need to contact me use the contact option.
            </p>
        </div>
</div>
<%- include('partials/bottom') %>