<%- include('partials/top') %>
  <h1>Blog Posts</h1>
  <% for (let i = 0; i < posts.length; i++) { %>
      <li>
         <a href="<%=posts[i].link%>"><%=posts[i].title%></a>
      </li>
  <% } %>
<%- include('partials/bottom') %>