<%- include('partials/top') %>
    <h3>
        <div>
            <p>
                To read the Blogs please click read more. Otherwise any questions, use the contact tab to get in touch.
            </p>
        </div>
    </h3>
<%- include('partials/bottom') %>